#tabbedpane{
    border-bottom: 1px solid #D3D3D3;
    height: 30px;
    background-color: white;
}

#data {
    height:300px;
    background-color: white;
}

#pane {
    border: 1px solid #D3D3D3;
}

.tab:hover {
    cursor:pointer;
}

.tab {
    border:1px solid #D3D3D3;
    background-color:#E4E4E4;
    color:#828282;
    height : 95%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height:27px;
}

#navigation {
    background-color: gray;
    padding : 5px;
}
